@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  height: 10px;
  background-color: #24262b;
}

@media screen and (max-width: 768px) {
  header {
    justify-content: center;
    align-items: center;
    padding: 30px 20%;
  }
}
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  color: #f7f7ff;
  text-decoration: none;
}

.LogIn {
  padding: 9px 15px;
  background-color: #ea526f;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 20px;
}
.LogIn:hover {
  background-color: #f7f7ff;
  color: #ea526f;
}

.Register {
  padding: 9px 15px;
  background-color: #24262b;
  border: 1px solid #ea526f;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-right: 20px;
  color: #ea526f;
  margin-left: 20px;
}
.Register:hover {
  color: #f7f7ff;
  border: 1px solid none;
  background-color: #ea526f;
}

.SubBtn {
  padding: 9px 15px;
  background-color: #ea526f;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 0px;
}
.SubBtn:hover {
  background-color: #f7f7ff;
  color: #ea526f;
}

@media screen and (max-width: 768px) {
  .Register {
    margin-right: 50px;
  }

  .LogIn {
    margin-left: 50px;
  }
}
.navlinks {
  list-style: none;
  text-decoration: none;
  background-color: #24262b;
}
@media (max-width: 767px) {
  .navlinks {
    display: inline-block;
    font-size: 0.2rem;
  }
}
.navlinks li {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  color: #ecf0f1;
  text-decoration: none;
  color: #f7f7ff;
  display: inline-block;
  padding: 0px 20px;
}
.navlinks li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #f7f7ff;
}
.navlinks li a:hover {
  color: #ea526f;
}

.navmenu {
  list-style: center;
  text-decoration: none;
  background-color: #f7f7ff;
  padding: 10px 100px;
  border: 1px solid grey;
}
.navmenu li {
  margin-left: 10px;
  font-family: "Calibri", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  display: inline;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
}
.navmenu li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: gray;
}
.navmenu li a:hover {
  color: #ea526f;
}

body {
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #24262b;
  padding: 70px 0;
}

.footer-col {
  width: 33.3%;
  padding: 0px;
}
.footer-col h4 {
  font-size: 18px;
  color: #f7f7ff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #ea526f;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #f7f7ff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #f7f7ff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #f7f7ff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #f7f7ff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
.categorias {
  margin: 70px 0;
}
.categorias .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}
.categorias .row-colecciones {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}
.categorias #nuevos .small-container {
  display: none;
}

.small-container {
  max-width: 2160px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.small-container h2 {
  text-align: center;
  font-size: 2rem;
  margin: 0 auto 50px;
  position: relative;
  line-height: 60px;
  color: #24262b;
}
.small-container h2:after {
  content: "";
  background: #ea526f;
  width: 80px;
  height: 5px;
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
}

.col-3 {
  flex-basis: 30%;
  max-width: 500px;
  margin-bottom: 30px;
  transition: transform 0.5s;
}
.col-3:hover {
  transform: translateY(-5px);
}
.col-3 img {
  width: 100%;
}

.col-4 {
  flex-basis: auto;
  margin-bottom: 30px;
  transition: transform 0.5s;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}
.col-4:hover {
  transform: translateY(-5px);
}
.col-4 img {
  max-width: 100%;
  height: auto;
  display: block;
  max-width: 300px;
  width: auto;
  height: auto;
}
@media (max-width: 780px) {
  .col-4 img {
    max-width: 200px;
  }
}

.rating {
  color: #ea526f;
  font-size: 0.85rem;
}

.Sub {
  background: radial-gradient(#f7f7ff, #23b5d3);
  margin-top: 50px;
  padding: 30px 0;
}
.Sub .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.col-2-img {
  flex-basis: auto;
  max-width: 50%;
  max-height: 350px;
  margin-bottom: 30px;
  transition: transform 0.5s;
  justify-content: center;
}
.col-2-img h1 {
  font-size: 3rem;
  line-height: 60px;
  margin: 25px 0;
}
.col-2-img img {
  max-width: 100%;
  padding: 80px 80px;
  max-height: 500px;
  margin: -125px 50px;
  min-width: 550px;
  align-items: center;
}
.col-2-img a {
  text-decoration: none;
  color: #f7f7ff;
}
@media (max-width: 1080px) {
  .col-2-img {
    display: none;
  }
}

.col-2-sub {
  flex-basis: auto;
  max-width: 50%;
  max-height: 350px;
  margin-bottom: 30px;
  transition: transform 0.5s;
  justify-content: center;
  align-items: center;
}
.col-2-sub h1 {
  font-size: 3rem;
  line-height: 60px;
  margin: 25px 0;
}
.col-2-sub img {
  max-width: 100%;
  padding: 80px 80px;
  max-height: 500px;
  margin: -125px 50px;
  min-width: 550px;
  align-items: center;
}
@media (max-width: 1080px) {
  .col-2-sub img {
    display: none;
  }
}
.col-2-sub a {
  text-decoration: none;
  color: #f7f7ff;
}

small {
  color: #24262b;
  max-width: 65ch;
}

.testimonial {
  display: block;
  padding-top: 100px;
}
.testimonial .col-3 {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  max-width: 15%;
  min-width: 15%;
}
.testimonial .col-3 p {
  font-size: 0.8rem;
  color: #24262b;
  margin: 12px 0;
  text-justify: auto;
}
.testimonial .col-3 h3 {
  font-weight: 600;
  color: #24262b;
}
.testimonial .col-3 img {
  width: 80px;
  margin-top: 20px;
  border-radius: 50%;
}
@media (max-width: 1080px) {
  .testimonial {
    display: none;
  }
}

.fa.fa-quote-left {
  color: #ea526f;
  font-size: 2rem;
}

#slider {
  overflow: hidden;
  display: none;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
  margin-top: 30px;
}

#slider figure img {
  width: 20%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }
  10% {
    left: 0;
  }
  15% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  80% {
    left: -200%;
  }
  85% {
    left: -300%;
  }
  100% {
    left: -300%;
  }
}
@media screen and (max-width: 768px) {
  #slider {
    display: block;
  }

  .row-colecciones {
    display: none !important;
    opacity: 1;
  }
}
.bannerimage {
  width: 100%;
  background-image: url(../../images/banner.jpg);
  height: 405px;
  background-position: center;
  position: relative;
  text-align: center;
  z-index: -1;
}

.bannertext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  color: #f7f7ff;
  text-shadow: 0 0 3px #24262b, 0 0 5px #24262b;
}

.product-filter {
  display: flex;
}
.product-filter h1 {
  flex-grow: 1;
  margin-left: 110px;
  font-size: 2.5rem;
  color: grey;
}

.sort {
  display: flex;
}

.collection-sort {
  display: flex;
  flex-direction: column;
  margin-right: 180px;
  margin-top: 8px;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 25%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.product-image img {
  max-width: 100%;
}

.product-info {
  margin-top: auto;
  color: #24262b;
}

@media (max-width: 920px) {
  .product-card {
    flex: 2 46%;
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  background-color: #f7f7ff;
  font-family: "Montserrat", sans-serif;
  background-color: #f7f7ff;
}

.logo {
  color: #ea526f;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 2rem;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.nav-links a {
  text-decoration: none;
  color: #24262b;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 1rem;
}
.nav-links a:hover {
  color: #ea526f;
}

.nav-links li {
  list-style: none;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #ea526f;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 410px;
    min-height: 410px;
    top: 15vh;
    background-color: #f7f7ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    padding: 10px;
    max-height: 600px;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    z-index: 99;
  }
}
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
.toggle .line2 {
  opacity: 0;
}

.register-body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #24262b;
  background: linear-gradient(#24262b, #010101);
}
.register-body .container {
  max-width: 700px;
  width: 100%;
  background-color: #f7f7ff;
  padding: 25px 30px;
  border-radius: 5px;
}
.register-body .container .title {
  font-size: 25px;
  font-weight: 50;
  position: relative;
}
.register-body .container .title:before {
  content: "";
  position: absolute;
  height: 3px;
  width: 30px;
  background-color: #ea526f;
  left: 0;
  bottom: 0;
}
.register-body .container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
@media (max-width: 584px) {
  .register-body .container form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .register-body .container form .user-details::-webkit-scrollbar {
    width: 0;
  }
}
.register-body .container form .user-details .input-box {
  width: calc(100%/2 - 20px);
  margin-bottom: 15px;
}
@media (max-width: 584px) {
  .register-body .container form .user-details .input-box {
    width: 100%;
    margin-bottom: 15px;
  }
}
.register-body .container form .user-details .input-box .details {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}
.register-body .container form .user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 1rem;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.register-body .container form .user-details .input-box input:focus {
  border-color: #ea526f;
}
.register-body .container form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}
.register-body .container form .gender-details .category {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 14px 0;
}
@media (max-width: 584px) {
  .register-body .container form .gender-details .category {
    width: 100%;
  }
}
.register-body .container form .gender-details .category label {
  display: flex;
  align-items: center;
}
.register-body .container form .gender-details .category .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
.register-body #dot-1:checked ~ .category label .one {
  border-color: #d9d9d9;
  background-color: #ea526f;
}
.register-body #dot-2:checked ~ .category label .two {
  border-color: #d9d9d9;
  background-color: #ea526f;
}
.register-body #dot-3:checked ~ .category label .three {
  border-color: #d9d9d9;
  background-color: #ea526f;
}
.register-body form input[type=radio] {
  display: none;
}
.register-body form .button {
  height: 45px;
  margin: 45px 0;
}
.register-body form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #f7f7ff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  background: linear-gradient(#ea526f, #e73b5c);
  transition: all 0.3s ease;
}
.register-body form .button input:hover {
  background: linear-gradient(#e73b5c, #ea526f);
}
@media (max-width: 584px) {
  .register-body form {
    max-width: 100%;
    margin: 0 5%;
  }
}
@media (max-width: 584px) {
  .register-body {
    max-width: 100%;
    margin: 5% 5%;
  }
}

.login-body {
  display: grid;
  height: 100vh;
  width: 100%;
  background: linear-gradient(90deg, #ea526f, #f07f95);
  place-items: center;
}
.login-body .container {
  background: #f7f7ff;
  max-width: 350px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}
.login-body .container form .button {
  margin: 40px 0 20px 0;
}
.login-body .container form .title {
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0 10px 0;
  position: relative;
}
.login-body .container form .title:before {
  content: "";
  position: absolute;
  height: 4px;
  width: 33px;
  bottom: 3px;
  left: 0;
  background: #ea526f;
}
.login-body .container form .input-box {
  width: 100%;
  height: 45px;
  margin-top: 25px;
  position: relative;
}
.login-body .container form .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 16px;
  border: none;
}
.login-body .container form .input-box input[type=submit] {
  font-size: 17px;
  color: #f7f7ff;
  background: linear-gradient(0deg, #ea526f, #f07f95);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.login-body .container form .input-box input[type=submit]:hover {
  background: linear-gradient(180deg, #ea526f, #f07f95);
  letter-spacing: 1px;
}
.login-body .container form .underline::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #ccc;
  left: 0;
  bottom: 0;
}
.login-body .container form .underline::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #ea526f;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition: all 0.3s ease;
}
.login-body .container .option {
  font-size: 14px;
  text-align: center;
}
.login-body .container .twitter a {
  display: block;
  width: 100%;
  height: 45px;
  font-size: 15px;
  text-decoration: none;
  padding-left: 20px;
  color: #fff;
  background: linear-gradient(to left, #00acee, #1abeff 100%);
  margin: 20px 0 15px 0;
  line-height: 45px;
  border-radius: 5px;
}
.login-body .container .twitter a:hover {
  background: linear-gradient(to right, #00acee, #1abeff 100%);
}
.login-body .container .twitter i {
  padding-right: 20px;
  font-size: 20px;
}
.login-body .container .facebook a {
  display: block;
  width: 100%;
  height: 45px;
  font-size: 15px;
  text-decoration: none;
  padding-left: 20px;
  color: #fff;
  background: linear-gradient(to left, #3b5998, #476bb8 100%);
  margin: 50px 0 15px 0;
  line-height: 45px;
  border-radius: 5px;
}
.login-body .container .facebook a:hover {
  background: linear-gradient(to right, #3b5998, #476bb8 100%);
}
.login-body .container .facebook i {
  padding-right: 20px;
  font-size: 20px;
}
.login-body .container form .input-box input:focus ~ .underline:after,
.login-body .container form .input-box input:valid ~ .underline:after {
  transform: scaleX(1);
  transform-origin: center;
}

/*# sourceMappingURL=styles.css.map */
