.categorias {
    margin: 70px 0;   
    .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 50px;
    }
    .row-colecciones {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 50px;
    }
    #nuevos {
        .small-container{
             display: none;
           
        }
    }
}



.small-container {
    max-width: 2160px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

    h2 {
        text-align: center;
        font-size: 2rem;
        margin: 0 auto 50px;
        position: relative;
        line-height: 60px;
        color: $rich-black;

        &:after {
            content: '';
            background: $paradise-pink;
            width: 80px;
            height: 5px;
            position: absolute;
            bottom: -10%;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 3px;

        }
    }
}

.col-3 {
    flex-basis: 30%;
    max-width: 500px;
    margin-bottom: 30px;
    transition: transform 0.5s;

    &:hover {
        transform: translateY(-5px);
    }

    img {
        width:100%;
    }
}




.col-4 {
    flex-basis: auto;
    margin-bottom: 30px;
    transition: transform 0.5s;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
 
    
    

    &:hover {
        transform: translateY(-5px);
    }

    img {
        max-width:100%;
        height: auto;
        display: block;
        max-width:300px;
        width: auto;
        height: auto;
        @media (max-width: 780px) {
            max-width:200px
        }
    }
}

.rating {
    color: $paradise-pink;
    font-size: .85rem;
}

.Sub {
    
    .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 50px;
        

    }

    background: radial-gradient($ghost-white,$pacific-blue);
    margin-top: 50px;
    padding: 30px 0;
}

.col-2-img {
    flex-basis: auto;
    max-width: 50%;
    max-height: 350px;
    margin-bottom: 30px;
    transition: transform 0.5s;
    justify-content: center;
    h1 {
        font-size: 3rem;
        line-height: 60px;
        margin: 25px 0;
    }

    img {
        max-width: 100%;
        padding: 80px 80px;
        max-height: 500px;
        margin: -125px 50px;
        min-width: 550px;
        align-items: center;
        
    }
    a {
        text-decoration: none;
        color: $ghost-white;
    }
    @media (max-width: 1080px) {
        display: none;
    }
}

.col-2-sub {
    flex-basis: auto;
    max-width: 50%;
    max-height: 350px;
    margin-bottom: 30px;
    transition: transform 0.5s;
    justify-content: center;
    align-items: center;
    h1 {
        font-size: 3rem;
        line-height: 60px;
        margin: 25px 0;
    }

    img {
        max-width: 100%;
        padding: 80px 80px;
        max-height: 500px;
        margin: -125px 50px;
        min-width: 550px;
        align-items: center;
        @media (max-width: 1080px) {
            display: none;
        }
    }
    a {
        text-decoration: none;
        color: $ghost-white;
    }
}

small {
    color: $rich-black;
    max-width: 65ch;
}

.testimonial   {
    display: block;
    padding-top: 100px;

    .col-3 {
        text-align: center;
        padding: 40px 20px;
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
        cursor: pointer;
        max-width: 15%;
        min-width: 15%;
        
       
        
        p  {
            font-size: .8rem;
            color: $rich-black;
            margin: 12px 0;
            text-justify: auto;
        }

        h3 {
            font-weight: 600;
            color: $rich-black;
        }

        img {
            width: 80px;
            margin-top: 20px;
            border-radius: 50%;
        }
    }
   
@media (max-width: 1080px) {
    display: none;
}
}

.fa.fa-quote-left {
    color: $paradise-pink;
    font-size: 2rem;
}

// Image slider //

#slider {
    overflow: hidden;
    display: none;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
    margin-top: 30px;
}

#slider figure img {
    width: 20%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    10% {
        left: 0;
    }
    15% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    80% {
        left: -200%;
    }
    85% {
        left: -300%;
    }
    100% {
        left: -300%;
    }
}

@media screen and (max-width: 768px) {
    #slider {
        display: block;
    }
   .row-colecciones {
      display: none !important;
      opacity: 1;
  }
}