
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    height: 10px;
    background-color: $rich-black;
}

@media screen and (max-width: 768px) {
    header {
        justify-content: center;
        align-items: center;
        padding: 30px 20%;
        
    }
}