
.navlinks {
    list-style: none;
    text-decoration: none;
    background-color: $rich-black;

    @media (max-width: 767px) {
        display:inline-block;
        font-size: .2rem;
    }
    

    li {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 0.75rem;
        color: #ecf0f1;
        text-decoration: none;
        color: $ghost-white;
        display: inline-block;
        padding: 0px 20px;

        a {
            transition: all 0.3s ease 0s;
            text-decoration: none;
            color: $ghost-white;

            &:hover {
               color: $paradise-pink
            }
        }
    }
}

.navmenu {
    list-style: center;
    text-decoration: none;
    background-color: $ghost-white;
    padding: 10px 100px;
    border: 1px solid grey;
    
    
    
    
    li {
        margin-left: 10px;
        font-family: "Calibri", sans-serif;
        font-weight: 500;
        font-size: 1rem;
        text-decoration: none;
        display: inline;
        justify-content: flex-end;
        align-items: center;
        padding: 0px;
        
        
        a {
            transition: all 0.3s ease 0s;
            text-decoration: none;
            color: gray;
            
            &:hover {
               color: $paradise-pink
            }
    } 
}

}

